*{
	font-size: 10px;
	font-family: 'Microsoft JhengHei','Roboto' , sans-serif;
    font-weight:600;
}
body{
    background-color: #f0ede6;
}

.section1, .section2{
  position: relative;
  height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

.section3 {
	position: relative;
	height: 70vh;
	padding-top: 100px;
	box-sizing: border-box;
	line-height: 50vh;
}

.example1_content {
  text-align: left;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 60px;
  box-sizing: border-box;
}

.title {
	font-size: 4em;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: bold;
}

.type {
	font-size: 2em;
  padding: 10px;
	line-height: 2em;
}

.content2 {
	font-size: 1.5em;
	line-height: 2em;
	padding: 10px;
}

.section2 {
  padding-left: 60px;
}

.example2_content {
  text-align: left;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 60px;
  box-sizing: border-box;
}

.page-botton{
  position: absolute;
	left:0;
  bottom: 0;
}


.glyphicon-chevron-down {
  font-size: 5em;
  color: rgb(122, 122, 122);
}

/*Metrial-Design change*/
a {
   font-weight: bold;
}

p {
   font-size: 10px;
  	line-height: inherit;
}

ul, ol {
     line-height: inherit;
}

.mdl-button {
	height: 100px;
	min-width: 200px;
	font-size: 3em;
	border-radius: 50px;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #f15a24;
}
