.container{
	margin-top: 90px;
	height: 500px;
}
.title{
    background-color: #dedacf;
    border-radius: 15px;
    color: #777;
    margin-bottom: 20px;
}
.title p{
    margin-bottom: 5px;
    margin-top: 5px;
}
.rules-card-style{
    background-color: #fbf8f1;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.rules-content p{
    margin-top: 20px;
}
.rules-title-2{
    margin-top: 40px;
}
/*-------------breadcrumb----------------*/
.breadcrumb{
	background-color: unset;
    text-align: left;
}
.breadcrumb li a{
    font-size: 1em;
    color: #a6836f;
}
.breadcrumb li{
    font-size: 1.6em;
}
/*------------initial-img--------*/
 .rules-berfore-initial img{
 	display: none;
 }
 /*-------------note-------------*/
 .note {
 	display: none;
 }
  .note img{
 	float: left;
	 	position: relative;
 }
 /*-------------Questions--------------*/

 .question{
 	display: none;
 	height: 50vh;
 	position: absolute;
 	top: 43%;
 	left: 39%;
 	font-size: 3em;
	width: 25%;
  }
 .question-result-score{
 	font-size: 3em;
 }
 /*-----------answer-icon------------*/
 .answer-icon{
 	margin-top: 20px;
 }
 .answer-icon-check{
    float: left;
    cursor: pointer;
 }
  .answer-icon-fail{
    float: right;
    cursor: pointer;
 }
 /*------------------rules-btn--------------*/
.rules-btn{
 	width: 30%;
    height: 13%;
    background-color: #f15a24;
    color:#ffffff;
    font-size: 3em;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(20%,20%,40%,0.5);
    border: unset;
    margin-top: 2.8%;
 }
.rules-btn:hover{
    background-color: #f15a24;
    color: #ffffff;
}
.rules-btn:active{
    background-color: #dd511f;
    color: #ffffff;
    box-shadow: 0px 2px 3px rgba(20%,20%,40%,0.5);
}
.rules-btn:visited{
    color:unset;
}
