*{
	font-size: 10px;
	font-family: 'Microsoft JhengHei','Roboto' , sans-serif;
    font-weight:600;
}
body{
    background-color: #f0ede6;
}
/*---------------style----------------*/
.font-size-42{
    font-size: 4.2em;
}
.font-size-16{
    font-size: 1.6em;
}
.font-size-18{
    font-size: 1.8em;
}
.font-size-30{
    font-size: 3em;
}
.font-size-20{
    font-size: 2em;
}
.icon-down{
    text-align: center;
}
.glyphicon-chevron-down{
    font-size: 3em;
    cursor: pointer;
}
/*-------------header-----------------*/
.navbar{
    margin-bottom: 0px;
    background-color: #dedacf;
    border:#dedacf ;
}
header{
    background-color: #dedacf;
}
header a {
    font-size:1.6em;
}
.nav li {
    top: 5px;
}
.navbar-left li a:hover{
    color: #a6836f!important;
    border-bottom: #a6836f 5px solid; 
}
.navbar-right a:hover{
    color: #a6836f!important;
}
.logo{
    float: left;
    height: 60px;
    line-height: 58px;
}
.logo img{
    height: 80%;
}
.search{
    margin-top: -4px;
}
/*-------------main-------------------*/
.main{
    margin-top: 60px;
    position: relative;
}
.main img{
    width: 100%;
}
.main_content{
    position: absolute;
    top : 130px; 
    right : 112px;
    direction: rtl;
    color:#333;
}
.main_content_title{
    margin-bottom: 50px;
}
.main_content_paragraph{
    margin-bottom: 50px;
}
.main_content_link{
    margin-bottom: 20px;
}
.main_content_link a{
    text-decoration: underline;
    /*font-style: italic;*/
    color: #333;
}
.main_content_link a:hover{
    color: #f15a24;
}
.btn{
    width: 170px;
    height: 60px;
    background-color: #f15a24;
    color:#ffffff;
    font-size: 3em;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(20%,20%,40%,0.5);
}
.btn:hover{
    background-color: #f15a24;
    color: #ffffff;
}
.btn:active{
    background-color: #dd511f;
    color: #ffffff;
}
.btn:visited{
    color:unset;
}

/*-------------steps-------------------*/
.container{
    text-align: center;
    margin-bottom: 55px;
}
.steps-title{
    margin-top: 50px;
    margin-bottom: 50px;
}
.step{
    float: left;
    text-align: center;
}
.step img{
    cursor: pointer;
}
.step p {
    margin-top: 20px;
}
.icon-right{
    height: 270px;
    line-height: 270px;
    margin-left: 20px;
    margin-right: 20px;
}
/*-------------footer-------------------*/
footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #dedacf;
}
.site-map-content{
    float: left;
    margin-left: 15px; 
    padding-left: 7px;
    border-left: #777 1px solid ;
    height: 76px;
}
.site-map-content a{
    color: #777;
    text-decoration: none;
}
.site-map-content a:hover{
    color: #a6836f;
    text-decoration: none;
}
.site-map-content a:visited{
    text-decoration: none;
}
.site-map-content ul {
    list-style: none;
    padding-left: 0px;
}
.site-map-content ul li a{
    font-size: 1.2em;
}
.social-icon {
    margin-bottom: 30px;
}
.social-icon img{
    width: 47px;
}
.social-icon-link-margin{
    margin-right: 20px;
}
.text-right p{
    font-size: 1.2em;
}

/*RWD*/
/*------------size:sm----------------------------------*/
@media screen and (max-width: 992px){
	
}
/*------------size: xs--------------------------------*/
@media screen and (max-width: 768px){
	

}