.container{
	margin-top: 130px;
	margin-bottom: 110px;
}
.title{
	background-color: #dedacf;
	border-radius: 15px;
	/*border:#c5c1b6 1px solid;*/
	color: #777;
}
.title p{
    margin-bottom: 5px;
    margin-top: 5px;
}
.member-card-style{
	background-color: #fbf8f1;
	border-radius: 15px;
}

.member-btn-style{
	border-radius: 15px;
	background-color: #dedacf;
	font-size: 2em;
    width: 4em;
}
.member-signup{
	border-right: #dedacf 2px solid;
    padding-top: 20px;
	padding-bottom: 20px;
}
.signup-content p {
	margin-top: 10px;
}
.signup-content input{
	border-radius: 5px;
	font-size: 1.6em;
}
.signup-btn{
	margin-top: 10px;
}

.member-login{
	border-left: #dedacf 2px solid;
	padding-top: 20px;
	padding-bottom: 20px;
}
.login-content p {
	margin-top: 10px;
}
.login-content input{
	border-radius: 5px;
	font-size: 1.6em;
}
.login-btn{
	margin-top: 38px;
}
.checkbox-style{
    margin-top: 20px;
    font-size: 1.6em;
}
.breadcrumb{
	background-color: unset;
    text-align: left;
}
.breadcrumb li a{
    font-size: 1em;
    color: #a6836f;
}
.breadcrumb li{
    font-size: 1.6em;
}

.post-title , .profile-title{
	margin-top: 20px;
    margin-bottom: 20px; 
}
.post{
	border-radius: 15px; 
	padding-top: 10px;
	padding-bottom: 10px;	
}
.post-content{
	height: 75%;
}
.profile{
	border-right: #dedacf 2px solid;
		height: 450px;
}
.delete-or-upload{
	border-left: #dedacf 2px solid;
	height: 450px;
}
.profile-content{
	height: 75%;
}
.post-3{
	display: none;
}
#file{
	opacity: 0;
	position: absolute;
	bottom: 5%;
}
.user-name{
	margin-bottom: 20px;
}