.container{
	margin-top: 110px;
	height: 600px;
}
/*-------------breadcrumb----------------*/
.breadcrumb{
	background-color: unset;
    text-align: left;
}
.breadcrumb li a{
    font-size: 1em;
    color: #a6836f;
}
.breadcrumb li{
    font-size: 1.6em;
}
 .note img{
 	display: none;
 }
 .note-sm {
 	display: none;
 	position: relative;
 }
 .check , .fail{
 	display: none;
 }
 .note-sm img{
 	float: left;
 	
 }
 .Q-1{
 	position: absolute;
 	bottom: -300px;
 	left: 95%;
 	font-size: 3em;
 	width: 360px;
 }